		#container>div>div{
			border:1px solid cadetblue;
			border-radius: 3px;
			background-color: ;
			margin-top:2px;
		}
		.blue-bg{
			background-color: cadetblue;
			color: darkgoldenrod;
		}
		.blue-bg>span>a{
			float: right;
			color: lightgrey;
			display: inline-block;
			margin-right: 2%;
		}