
		body:not(.loggedIn){
			background-color: cadetblue;
			background-image: url("images/bg.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
			background-size: 100%;
			margin: 0px;
			font-family: Calibri, Verdana;
		}
		.nav{
			background-color: black;
			//opacity: 0.5;
			min-height: 30px;
			transition: 2s;
		}
		.nav:hover{
			background:#180000;
		}
		.nav ul{
			position: absolute;
			top: 0px;
			right: 0px;
			margin:5px;
			margin-right: 5%;
			padding: 0px;
		}
		.nav ul li{
			background-color: #202020;
			display: inline;
			list-style-type: none;
			padding: 6px 25px;
			transition: 0.5s;
		}
		.nav ul li:hover{
			background-color: darkgreen;
			color: white;
			cursor: pointer;
		}
		a{
			text-decoration: none;
			font-weight: bolder;
			color: lightgrey;
		}
		.nav>a>span{
			color: lightgrey;
			font-size: 20px;
			margin-left: 5px;
		}
		#center-div{
			background-color: black;
			opacity: 0.8;
			border: 1px solid black;
			border-radius: 5px;
			max-width: 700px;
			margin-top: 150px;
			color: lightgrey;
			padding-top: 50px;
			padding-bottom: 100px;
			padding-right: 5%;
			padding-left: 5%;

		}
		#center-div>a>button{
			height: 50px; 
			background-color: white;
			color: green;
			outline: none;
			cursor: pointer;
			width: 80%;
			border: 1px solid white;
			font-weight: bold;
			border-radius: 2px;
			transition: 0.5s;
		}
		#center-div>a>button:hover{
			background-color: black;
			color: white;
			opacity: 1;
		}
		.enabled{
			background-color:white;
			border-radius: 5px;
			border:1px solid green;
			color: green;
			transition: 1s;
		}
		.enabled:hover{
			background-color: green;
			color: white;
			font-weight: bold;
			cursor: pointer;
		}
		button{
			width:102%;
			height:40px;
			color: 
		}
		.underline{
			border-bottom: 1px solid lightgrey;
			display: inline-block;
			padding-bottom: 5px;
			padding-left: 10%;
			padding-right: 10%;
		}
		input,textarea{
			margin: 20px auto;
			padding: 5px;
			width:100%;
			line-height: 30px;
			transition: 2s;
			border:1px solid lightgrey;
			background-color: #F8F8F8;
			color: lightgrey;
			resize: none;
			outline: none;
			opacity: 1;
		}
		label span{
			color: red;
			text-align: right;
			width:40%;
			margin-left: -40%;
			display: inline-block;
			float: right;
		}
		input:focus,textarea:focus{
			background-color: white;
			color: black;
			outline: none;
			border-radius: 5px;
		}
		.italicize{
			font-style: italic;
		}



//-------------------------
	/*	.grey{
			background-color: rgb(250,250,250);
		}
		html, body{
			margin:0px;
			padding: 0px;
			font-family: Calibri, Verdana, Times New Roman;
			color: dimgrey;
		}
		#container{
			min-height: 700px; 
			max-width: 1000px; 
			border-left: 1px double lightgrey;
			border-right: 1px double lightgrey;
			padding-bottom: 20px; 

		}
		
		
		#container>div button, #container>q button{
			width: 102%;
			height: 50px;
		}
		#container>div{
			margin: 100px auto;
			border:1px solid lightgrey;
			border-radius: 10px;
			width:60%;
			padding: 20px;
		}
		#container>h2{
			margin-top:100px auto;  
		}
		.underline{
			border-bottom: 1px solid lightgrey;
			display: inline-block;
			padding-bottom: 5px;
			padding-left: 10%;
			padding-right: 10%;
		}
		.enabled{
			background-color: green;
			border-radius: 5px;
			border:1px solid green;
			color: white;
			transition: 1s;
		}
		.enabled:hover{
			background-color: white;
			color: green;
			font-weight: bold;
			cursor: pointer;
		}
		
		